body{
    margin: 0;
    padding: 0;
    background: #a344e2;
    font-family: sans-serif;
}

.container {
    width: 100;
    text-align: center;
    margin-top: 10px;

}
#title{
    text-align: center;
    font-size: 50px;
}

#inputText{
    width: 300px; 
    height: 46px;
    border: 1px solid;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
    border: 3px solid black;
    border-radius: 15px;
    color: #0b0b0d;
}

#addToDo{
    height: 50px;
    width: 70px;
    border: 3px solid black;
    vertical-align: middle;
    font-size: 25px;
    cursor: pointer;
    border-radius: 15px;
    background-color: greenyellow;
    text-align: center;
    color: black;
}

#clearToDo{
    height: 50px;
    width: 50px;
    color: black;
    border: 3px solid black;
    vertical-align: middle;
    font-size: 25px;
    background-color: greenyellow;
    cursor: pointer;
    border-radius: 15px;
}
#addToDo:active{
    background-color: red;
}
#clearToDo:active{
    background-color: red;
}

.paragraph-styling{
    margin: 0;
    cursor: pointer;
    font-size: 35px;
    color: #f0f0f0;
    text-transform: capitalize;
}

.To-dos{
    margin-top: 25px;
}